body {
    background: rgb(223, 8, 36);
    font: normal 15pt Arial;
}

header {
    color: black;
    text-align: center;
}

section {
    background: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: white;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}